/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
body{
    background-color: rgb(99, 112, 108);
}
h1{
    padding-top: 30px;
    font-size: 40px;
}